/* header {
  background-color: rgb(192, 192, 192);
} */
.main-heading {
  color: #f0273b;
  font-size: 70px;
  text-align: center;
  margin-top: -20px;
  background-color: rgb(190, 187, 187);
  margin-bottom: -20px;
}
p {
  color: black;
  font-size: 15px;
  font-weight: 700;
  justify-content: center;
  line-height: 50px;
  margin-left: 50px;
  text-align: left;
  text-indent: 20px;
  width: 90%;
}

.heading1 {
  color: black;
  font-size: 50px;
  font-weight: 500;
  padding: 30px;
  text-align: center;
}
.rapid {
  display: flex;
  width: 1200px;
}
.para1 {
  background-image: linear-gradient(360deg, #fff, rgb(180, 179, 179));
}

.text1 {
  font-size: 15px;
  font-weight: 700;
  width: 100px;
}

.strength {
  display: flex;
  flex-direction: row;
}
.image2 {
  height: 300px;
}
.para2 {
  background-image: linear-gradient(360deg, rgb(238, 124, 143), #fc2137);
  margin-bottom: -20px;
}
.text2 {
  /* width: 800px; */
  color: black;
  text-align: center;
}

.list1 {
  color: black;
  font-size: 15px;
  font-weight: 700;
  justify-content: center;
  line-height: 50px;
  list-style: circle;
}

.part3 {
  background-image: linear-gradient(360deg, #fff, rgb(180, 179, 179));
}
.para3 {
  display: flex;
  flex-direction: row;
}
.image3 {
  margin-left: 200px;
  width: 400px;
}

.profile {
  display: flex;
}
.image1 {
  max-width: 300px;
}
.company {
  align-items: center;
  background-image: linear-gradient(360deg, white, #f0273b);
}
.txt1 {
  color: rgb(23, 23, 54);
  font-size: 15px;
  font-weight: 700;
  line-height: 3em;
  padding-left: 20px;
  text-align: center;
  text-indent: 20px;
  width: 90%;
}
.heading3 {
  color: black;
  font-size: 50px;
  font-weight: 500;
  padding: 30px;
  text-align: center;
}
.profile2 {
  display: flex;
  padding: 80px;
}
.image2 {
  max-width: 300px;
}
.txt2 {
  color: black;
  font-size: 15px;
  font-weight: 700;
  line-height: 3em;
  line-height: 3em;
  padding-left: 20px;
  text-align: right;
  text-indent: 20px;
}
h4 {
  color: #f0273b;
  font-size: 40px;
  font-weight: 600;
  padding: 40px;
  text-align: center;
}

.profile3 {
  display: flex;
  padding: 20px;
}
.image3 {
  height: 300px;
  width: 500px;
}

.heading2 {
  color: #f0273b;
  font-size: 50px;
  font-weight: 500;
  padding: 30px;
  text-align: center;
}
.list2 {
  color: rgb(23, 23, 54);
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  list-style: circle;
  margin-bottom: -6px;
  text-indent: 30px;
  background-image: linear-gradient(360deg, rgb(250, 194, 194), #fd2d42);
}
.feauter-images {
  align-items: center;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(360deg, #fff, rgb(240, 240, 240));
}
.imag {
  padding: 60px;
  justify-content: space-between;
  margin-left: 70px;
}
