<header>
  <h2 class="main-heading">ABOUT THE MIGRATESMART</h2>
  <div class="para1">
    <h3 class="heading1">Rapid. Reliable. Secure.</h3>
    <div class="rapid">
      <img class="image1" src="../../images/image13.jpg" alt="rapid-image" />
      <p class="text">
        Time is of the essence,’ is the principle that forms the foundation of
        The migrate smart. That’s why, we are always committed to being ‘on
        time, every time.’ Founded in 1987, The Professional Couriers is today
        recognized as a trusted and reliable courier. Courtesy of our strong
        workforce, extensive infrastructure support, and a network of offices
        spread across the globe, we have established ourselves as the preferred
        delivery partner for both national and international clients.
      </p>
    </div>
  </div>

  <div class="para2">
    <h3 class="heading1">Our Strengths</h3>
    <div class="strength">
      <p class="text2">
        We, at The migrate smart, strive hard to maintain our service standards
        and are well-equipped to provide end-to-end logistics solutions. Our
        sophisticated Hub-and-Spoke system with warehousing and storage
        facilities, modern communication network and large fleet of
        transportation vehicles enables us to ensure smooth and efficient
        delivery of consignments, every single time. We lay emphasis on
        documentation to ensure efficient operations and support, as well as
        complete traceability for all consignments. What differentiates us is
        our comprehensive solutions for a broad spectrum of clients, including
        Private Individuals, Public Sector Undertakings, Government
        Institutions, Corporate Companies, MNCs, and Educational and Financial
        Institutions.
      </p>
    </div>
  </div>

  <div class="part3">
    <h3 class="heading1">Why choose us</h3>
    <div class="para3">
      <ul class="list1">
        <li>
          State-of-the-art infrastructure and extensive network for delivering
          nationally and internationally
        </li>
        <li>
          Cost-effective delivery experience with consistent quality services
        </li>
        <li>
          Effective, value-added solutions for individuals and organizations of
          all sizes, in public and private sectors
        </li>
        <li>Adherence to stringent time schedules</li>
        <li>
          Technology-enriched offerings to further enhance efficiency and
          security
        </li>
        <li>Round-the-clock customer support available for priority clients</li>
        <li>
          Stay updated with the status of your consignments with our web-based
          track and trace system.
        </li>
      </ul>
    </div>
  </div>
  <div class="company">
    <h2 class="heading3">COMPANY PROFILE</h2>
    <div class="profile">
      <P class="txt1">
        Migrate smart, a division of Chakradhara Aerospace Private Limited is a
        renowed logistics solutions provider that handles a range of services
        including Freight Forwarding, Parcel Services, Third Party Logistics,
        Customs Broker, Clearing and Forwarding, Courier Services and much more.
        Based out of Coimbatore, a place better known for its engineering
        industries and the spirit of entrepreneurship, LRL couriers, is a
        division of Chakradhara Aerospace . CACPL is a diverse business group
        with interests in Textile Machinery, Machine Tools, Foundry Castings,
        Aerospace components etc., We at LCC endeavor to meet our customer’s
        requirement by providing quality services with the motto of on-time,
        every time.
      </P>
    </div>

    <div class="profile2">
      <p class="txt2">
        We strive to further our relationship with our customers by developing
        dedicated and customized resources for them to ensure that delivery and
        quality focus is maintained at all costs. Migrate smart is a renowed
        logistics started its operations in the year 1985 and became a Public
        Limited Company in the year 1991. As an ISO 9001-2015 certified company,
        Migrate smart has been continually gaining a worldwide network of agents
        for its dedicated clientele to ensure reliable service.
      </p>
    </div>
  </div>
  <h2 class="heading2">Why The Migrant Smart preferred across the globe</h2>
  <div class="feauter-images">
    <img class="imag" src="../../images/feature1.png" alt="feauter-image1" />
    <img class="imag" src="../../images/feature2.png" alt="feauter-image2" />
  </div>
  <div class="feauters">
    <ul class="list2">
      <li>Efficient and safe delivery of your consignments.</li>
      <li>
        Well co-ordinate own fleet of transport system of vehicles, leased Rail
        Wagons, bus and train On Travel Couriers, interconnecting all
        destinations.
      </li>
      <li>Hand-carrying valuable documents without any delay.</li>
      <li>Network supervision by Hub centre in-charges.</li>
      <li>Monthly billing facility for bulk volume customers.</li>
      <li>Offering Desk pickups and Door deliveries at no extra cost.</li>
      <li>We are offering Proof of Deliveries (POD) at your request.</li>
      <li>
        Extensive Network in India covering all bank locations Overnight service
        to Metros and several significant Cities/Towns in India and
        International Service to all corners of the Globe.
      </li>
      <li>Cargo service by Air/Surface is available to all destinations.</li>
      <li>Express Collection Centres are available nearest to you.</li>
      <li>Transit Insurance facility for non-insured goods on request.</li>
      <li>
        Consignment delivery status available in our website www.tpcindia.com /
        www.tpcglobe.com
      </li>
      <li>Consignment status is available on your mobile phone by SMS.</li>
    </ul>
  </div>
</header>
