<section>
  <div class="pickup-details">
    <h2>Congrats!!!</h2>
  </div>
  <h3 class="confirm">Your order has been placed!!!</h3>
  <button class="btn1"><a href="signup">logout</a></button>
  <button class="btn2"><a href="pickup">Create another order</a></button>

  <div class="order">
    <div class="image">
      <img class="success" src="../../images/success.png" alt="image" />
    </div>
    <div class="containers">
      <table class="pickup">
        <caption>
          Orders
        </caption>
        <thead>
          <tr>
            <th class="tab">Pickup From</th>
            <th class="tab">Pickup To</th>
            <th class="tab">Date</th>
            <th class="tab">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of parceldetails">
            <td class="row">{{ user.fromplace }}</td>
            <td class="row">{{ user.toplace }}</td>
            <td class="row">{{ user.date }}</td>
            <td>
              <button class="btn" (click)="delete(user._id, user._rev)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
