section {
  background-color: #fff;
  margin-top: -20px;
}

h2 {
  color: #f0273b;
  font-size: 40px;
  padding: 20px;
  margin-top: -50px;
  text-align: center;
}

.confirm {
  text-align: center;
}
.para {
  text-align: center;
}
.btn1 {
  background-color: #f0273b;
  border: none;
  padding: 20px;
  width: 170px;
  margin-left: 1100px;
  margin-top: 20px;
}
.btn1:hover {
  transform: scale(1.09);
}
.btn2 {
  background-color: #f0273b;
  border: none;
  color: #fff;
  margin-bottom: 30px;
  margin-left: 580px;
  margin-top: 20px;
  padding: 15px;
}
.btn2:hover {
  transform: scale(1.09);
}
a {
  color: #fff;
  text-decoration: none;
}
label {
  padding-right: 150px;
}
.btn {
  background-color: #f0273b;
  color: #fff;
  margin-left: 90px;
  margin-top: 15px;
}
.btn:hover {
  transform: scale(1.09);
}
.icon {
  margin-left: 1100px;
  width: 50px;
}
.success {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 100px;
  width: 400px;
}
.order {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin-left: 360px;
}
.containers {
  background-color: rgb(230, 227, 227);
  margin-bottom: 30px;
  margin-left: -150px;
  padding-bottom: 40px;
  width: 900px;
}
.tab {
  color: #fff;
  padding: 20px 80px;
}
