<section>
  <button class="btn1"><a href="user">Go to Dashboard</a></button>
  <div class="pickup-details">
    <h2 class="heading">Price Details</h2>
  </div>
  <div class="card">
    <div class="image">
      <img class="card-image" src="../../images/image11.jpg" alt="image" />
    </div>
    <h2 class="head">Enter courier weight</h2>
    <h3>(1 Kg = ₹ <span class="cost">100)</span></h3>
    <div *ngFor="let prd of order">
      <div class="order">
        <div class="minusandplus">
          <button type="button" class="btns" (click)="dec(prd)">
            <em class="fa fa-minus"></em>
          </button>
        </div>
        <div class="no">
          {{ prd.kg }}
        </div>
        <div class="minusandplus">
          <button type="button" class="btns" (click)="inc(prd)">
            <em class="fa fa-plus"></em>
          </button>
        </div>
      </div>

      <p class="total">Your total Payment: ₹{{ total * prd.kg | number }}</p>
    </div>
  </div>
  <button class="btn2"><a href="pickup">Create another order</a></button>
</section>
