<body>
  <div class="home">
    <img class="home-image" src="../../images/image6.jpg" alt="home-image" />
    <div class="centered">
      <button id="pickup-button">
        <em class="fa fa-calendar"></em>
        <a href="pickup"> Ship Now</a>
        <p>Find the right service</p>
      </button>
    </div>
  </div>

  <div class="para1">
    <h3 class="heading">WELCOME</h3>
    <div class="welcome">
      <img class="image1" src="../../images/image14.jpg" alt="welcome-image" />
      <p class="text1">
        With over three decades of expertise in its arsenal, The LRL Couriers
        has proven itself as an ultimate service provider and a pioneer in the
        Indian courier and cargo industry. We have our corporate office in
        Mumbai, and regional offices in all major cities and our scope of
        operations and services includes air, rail, and road mode. With top of
        the modern class infrastructure, cutting edge technology, and a
        registered presence of a sizeable exclusive network with multiple
        destinations across the country and several offices across the globe, we
        have established firm partnerships within the courier and express
        industry internationally. 4 Driven by a vision to provide the
        best-in-class logistics services, our objective is to bring about a
        revolution in customer service and become the market leader in the
        logistics industry while keeping our customers happy with timely,
        secure, and safe delivery.
      </p>
    </div>
  </div>

  <div class="para2">
    <h3 class="heading">VISION</h3>
    <div class="vision">
      <p class="text2">
        To emerge as largest courier company and be known for our comprehensive
        bouquet of cost-effective and efficient services. To continue to deliver
        on our promise of a ‘Safe, timely and cost effectiveʼ delivery
        experience by harnessing the latest technology, constant network
        expansion and customized solutions. Pursue value-addition at every
        touchpoint to enhance the overall client experience. Generate employment
        opportunities for thousands of youngsters. Support Make in India
        initiative by providing more entrepreneurial opportunities through our
        franchise network. in offering the safest and fastest delivery of urgent
        consignments, e-commerce service, International courier and cargo,
        Business-class service with time-sensitive consignments reaching you
        with utmost care and safety.
      </p>
      <img class="image2" src="../../images/image13.jpg" alt="vision-oimage" />
    </div>
  </div>

  <div class="container1">
    <div class="para3">
      <h3 class="heading1">OUR PREMIUM SERVICES</h3>
      <div class="services">
        <p class="text3">
          Our premium services offer express deliveries, which are specialized
          in offering the safest and fastest delivery of urgent consignments,
          e-commerce service, International courier and cargo, Business-class
          service with time-sensitive consignments reaching you with utmost care
          and safety.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="box1">
        <img
          class="box-image"
          src="../../images/image7.jpg"
          alt="premium-image"
        />
        <h4>Pro<span class="premium">Premium</span></h4>
      </div>

      <div class="box2">
        <img
          class="box-image"
          src="../../images/image10.jpg"
          alt="priority-image"
        />
        <h4>Priority<span class="priority">Class</span></h4>
      </div>

      <div class="box4">
        <img
          class="box-image"
          src="../../images/premium1.jpg"
          alt="smart-image"
        />
        <h4>pro<strong>e</strong><span class="smart">Serve</span></h4>
      </div>
    </div>
  </div>
  <div class="para4">
    <h2 class="heading2">Experience The Migrate smart Advantage</h2>
    <div class="parts">
      <div class="part1">
        <h3 class="percent">23%</h3>
        <p class="txt">Reduction in Last-Mile Delivery Cost</p>
      </div>
      <div class="part2">
        <h3 class="percent">28%</h3>
        <p class="txt">Reduction in Customer Complaints</p>
      </div>

      <div class="part3">
        <h3 class="percent">18%</h3>
        <p class="txt">Increase in Delivery Net Promoter Score</p>
      </div>
      <div class="part4">
        <h3 class="percent">12%</h3>
        <p class="txt">Reduction in Mid-Mile Costs</p>
      </div>
    </div>
  </div>
  <div class="clients-para">
    <h2 class="client-heading">Hear it from our clients!</h2>
    <div class="clients">
      <div class="client1">
        <p class="client-text">
          Migrate Smart saves time and improves our data accuracy that helps
          improve our planning. Plus, the customer support of migratesmart is
          very quick and effective. They always listen to us and close issues
          immediately. They also bring new feauters and are constantly moking
          improvements to ease our pain.
        </p>
        <img class="client-image1" src="../../images/khalid.jpg" alt="img" />
        <h5>Khalid Al Shamlan</h5>
        <p class="name">General Manager - Zajil Express</p>
      </div>
      <div class="client2">
        <p class="client-text">
          Amazing product!! It is wonderful product that offers a complete
          solutions for our needs, easy to use.
        </p>
        <img class="client-image2" src="../../images/tarun.png" alt="img" />
        <h5>Tarun</h5>
        <p class="name">Operation Head</p>
      </div>
      <div class="client3">
        <p class="client-text">
          The software is extremely intuitive and easy to use. It has got a host
          of interactive and useful feauters, some of which have been customied
          to suit our requirements. The migrate smart team is exteremly dynamic
          competent and customer focused,
        </p>
        <img class="client-image3" src="../../images/sukrit.png" alt="img" />
        <h5>Sukrit Dhar</h5>
        <p class="name">Senior Manager - corporate stategy</p>
      </div>
    </div>
  </div>
</body>
