body {
  position: relative;
  margin-top: -30px;
}
.home {
  color: rgb(27, 26, 26);
  position: relative;
  text-align: center;
}
.home-image {
  height: 500px;
  opacity: 1;
  width: 1348px;
}
.pickup-btn {
  background-color: #f0273b;
  border-radius: 40px;
  border: none;
  padding: 15px;
  width: 200px;
}
.pickup-head {
  color: #000;
}
.pickup-btn:hover {
  transform: scale(1.08);
}
a {
  color: white;
  text-decoration: none;
}
.clients-container {
  background-color: #e5a0a7;
  margin-top: -20px;
  padding-bottom: 50px;
}
.clients {
  align-content: start;
  display: flex;
  height: 400px;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
.client-heading {
  font-weight: 500;
  padding: 40px;
  text-align: center;
  font-size: 40px;
}
.percent {
  text-align: center;
}
.client {
  background-color: #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
  height: 400px;
  margin-bottom: -170px;
  width: 400px;
  padding: 0 30px;
}
.client-text {
  padding: 40px;
}
.client-image {
  border-radius: 100%;
  border: 2px solid rgb(61, 59, 59);
  margin-left: 35px;
}

.client-image2 {
  border-radius: 100%;
  margin-left: 35px;
  border: 2px solid rgb(61, 59, 59);
  margin-top: 80px;
}

.client-image3 {
  border-radius: 100%;
  margin-left: 35px;
  margin-top: 20px;
  border: 2px solid rgb(61, 59, 59);
}
h5 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 35px;
}
.name {
  margin-left: 35px;
}
.centered {
  font-size: 20px;
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}
.center {
  color: #b30d1e;
  font-size: 30px;
  padding-bottom: 120px;
}

.search-button:hover {
  transform: scale(1.05);
}
.heading {
  color: black;
  font-size: 40px;
  font-weight: 500;
  padding: 30px;
  text-align: center;
}
.people {
  color: #f0273b;
}
.text1 {
  color: rgb(23, 23, 54);
  font-size: 15px;
  justify-content: center;
  line-height: 30px;
  margin-left: 30px;
  text-align: left;
  text-indent: 20px;
  width: 90%;
}
.search-button {
  background-color: #f0273b;
  border: #f0273b;
  margin-top: 20px;
  padding: 10px;
  width: 250px;
}
.search-button em {
  color: #f0273b;
  width: 40px;
}
.para1 {
  margin-bottom: -20px;
  margin-top: -20px;
}
.welcome {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 1200px;
}
.image1 {
  flex-basis: 40%;
  height: 300px;
  margin-top: -120px;
  width: 300px;
}
.para2 {
  color: rgb(23, 23, 54);
  justify-content: right;
  line-height: 30px;
  text-indent: 20px;
}
.vision {
  display: flex;
}
.image2 {
  margin-bottom: -30px;
  width: 300px;
}
.text2 {
  font-size: 15px;
  padding-left: 20px;
  text-align: right;
}
.para3 {
  margin-top: -20px;
  text-align: center;
}
.text3 {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  text-indent: 20px;
}
.box-image {
  border-radius: 20px;
  width: 290px;
}
h4 {
  color: rgb(22, 21, 21);
  font-size: 30px;
  text-align: center;
}
.premium {
  color: #f0273b;
}
.priority {
  color: #f0273b;
}
strong {
  color: #b30d1e;
}
.serve {
  color: #f0273b;
}
.smart {
  color: #f0273b;
}
.heading1 {
  color: #000;
  font-size: 40px;
  font-size: 500;
  padding-top: 30px;
}
.container {
  display: inline-flex;
  flex-direction: row;
  padding: 100px;
}
.box2 {
  margin-left: 80px;
}
.box4 {
  margin-left: 80px;
}
.parts {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  padding: 50px;
}
.para4 {
  background-color: #ddd;
  margin-top: 30px;
  padding-top: 20px;
}
.part {
  padding: 0px 30px;
}
.heading2 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
