<div class="footer">
  <h1 class="heading">MIGRATE<span>SMART</span></h1>
  <P class="text">A parcel and courier company</P>
</div>

<div class="footer">
  <div class="foot">
    <div class="menu">
      <a href="#">FAQs</a>
      <a href="#">Contact Us</a>
    </div>
    <div class="menu">
      <a href="#">Privacy Policy</a>
      <a href="#">Customer Care</a>
    </div>
    <div class="menu">
      <a href="#">Install Kit</a>
      <a href="#">Careers</a>
    </div>
    <div class="menu">
      <a href="#">Feedback</a>
      <a href="#">Privacy</a>
    </div>
    <div class="menu">
      <a href="#">Legal notice</a>
      <a href="#">Terms of use</a>
    </div>
  </div>
  <div class="social">
    <div class="follow">
      <P class="text1">Follow us on</P>
    </div>
    <div class="social-container">
      <a href="#" class="social"><em class="fa fa-facebook fa-2x"></em></a>
      <a href="#" class="social"><em class="fab fa fa-twitter fa-2x"></em></a>
      <a href="#" class="social"><em class="fab fa fa-instagram fa-2x"></em></a>
      <a href="#" class="social"><em class="fab fa fa-youtube fa-2x"></em></a>
      <a href="#" class="social"><em class="fab fa fa-linkedin fa-2x"></em></a>
    </div>
  </div>
</div>
