.footer {
  background-color: #333;
  color: #f0273b;
  font-size: 15px;
  padding: 2.7em 0;
}
ul {
  list-style: none;
}

.icons {
  flex: 0 0 14%;
}
.foot {
  display: flex;
}
.menu {
  color: #f0273b;
  display: inline-block;
  padding: 0 95px;
}
.menu a {
  color: aliceblue;
  display: block;
  line-height: 1em;
  text-decoration: none;
}
a {
  color: #f0273b;
  font-size: 14px;
  margin: 15px 0;
  padding: 10px 0;
  text-decoration: none;
}
.menu a:hover {
  color: #f0273b;
}
.heading {
  color: white;
  font-weight: bold;
  margin: 50px;
}
span {
  color: #f0273b;
}
.text {
  color: #f0273b;
  font-size: 14px;
  font-weight: 100;
  line-height: 2px;
  margin-left: 160px;
  margin-top: -50px;
}
.text1 {
  color: #ee4f5c;
  font-size: 20px;
  text-align: center;
}
.social-container {
  display: flex;
  padding: 0 40%;
}
.social-container a {
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ee4f5c;
  color: #ee4f5c;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  margin: 0 5px;
  width: 40px;
}
