<section>
  <div class="side-menu">
    <div class="brand-name">
      <h1>Brand</h1>
    </div>

    <ul>
      <li>
        <img class="icon1" src="../../images/icons8-dashboard-layout-24.png" />
        Dashboard
      </li>
      <li>
        <img class="icon2" src="../../images/ordernew.png" />
        Orders
      </li>
      <li>
        <img
          class="icon3"
          src="../../images/icons8-duplicate-contacts-24.png"
        />
        Contact
      </li>
      <li>
        <img class="icon4" src="../../images/icons8-feedback-50.png" />
        Feedbacks
      </li>
    </ul>
  </div>
</section>
