.main {
  background-color: #ca303f;
  height: 180px;
  margin-top: -20px;
}
.main-heading {
  color: aliceblue;
  margin-left: 40px;
}
.sub-heading {
  color: rgb(56, 53, 53);
  margin-left: 40px;
  padding-top: 60px;
}
.container {
  background-color: rgb(252, 233, 233);
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  width: 1340px;
}
.top-container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
  margin-left: 80px;
  margin-top: 50px;
  padding: 40px;
  width: 1138px;
}
.text1 {
  font-size: 15px;
  font-weight: 550;
  text-align: center;
}
.text2 {
  font-size: 15px;
  font-weight: 550;
  text-align: center;
}
a {
  color: #ca303f;
}
a:hover {
  color: #d6636f;
}
span {
  color: #ca303f;
  font-size: 20px;
}
.form-container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #ca303f;
  height: 650px;
  margin-left: 80px;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  width: 1138px;
}
.btn {
  background-color: #ca303f;
  border: 1px solid #ffff;
  border: none;
  color: white;
  cursor: pointer;
  margin: 8px 0;
  opacity: 0.9;
  padding: 16px 20px;
  width: 300px;
}
.btn:hover {
  opacity: 1;
}
input {
  background: none;
  border-bottom: 2px solid #f0273b;
  border: #f1f1f1;
  display: inline-block;
  font-size: 18px;
  margin: 5px 0 22px 0;
  outline: none;
  padding: 10px;
  width: 50%;
}
em {
  margin-left: 230px;
}
.text-danger {
  align-items: center;
}
.office {
  background-color: #ca303f;
  padding-bottom: 60px;
  padding-top: 40px;
}
.heading2 {
  color: #f1f1f1;
  font-size: 50px;
  text-align: center;
}
.head {
  background-color: #ece9e9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 30px;
  margin-left: 75px;
  padding: 20px;
  width: 1200px;
}
.part1 {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.north {
  background-color: #ece9e9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-left: 55px;
  padding: 20px;
  width: 350px;
}
.east {
  background-color: #ece9e9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-left: 76px;
  padding: 20px;
  width: 350px;
}
.north-east {
  background-color: #ece9e9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-left: 76px;
  padding: 20px;
  width: 350px;
}
.part2 {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.south1 {
  background-color: #ece9e9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-left: 55px;
  padding: 20px;
  width: 350px;
}
.south2 {
  background-color: #ece9e9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-left: 76px;
  padding: 20px;
  width: 350px;
}
.west {
  background-color: #ece9e9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-left: 76px;
  padding: 20px;
  width: 350px;
}
ul {
  list-style: none;
  margin-left: -30px;
}
.count {
  display: flex;
  flex-direction: row;
  padding: 40px;
}
.count-heading {
  color: #ca303f;
  font-size: 40px;
}
.count-text {
  font-size: 15px;
}
.count1 {
  margin-left: 55px;
  text-align: center;
}
.count2 {
  margin-left: 100px;
  text-align: center;
}
.count3 {
  margin-left: 100px;
  text-align: center;
}
.count4 {
  margin-left: 100px;
  text-align: center;
}
.count5 {
  margin-left: 100px;
  text-align: center;
}
.heading3 {
  text-align: center;
}
