<div class="top-container">
  <div class="cont1">
    <p class="text">On Time Delivery Rate</p>
    <h3 class="head">86,40%</h3>
  </div>
  <div class="cont1">
    <p class="text">On Time Delivery Rate</p>
    <h3 class="head">24 min</h3>
  </div>
  <div class="cont1">
    <p class="text">Orders Delivered</p>
    <h3 class="head">10L</h3>
  </div>
  <div class="cont1">
    <p class="text">Average Late Time</p>
    <h3 class="head">4 min</h3>
  </div>
</div>
<div class="dashboard">
  <div class="side-menu">
    <div class="brand-name">
      <img
        class="arrow"
        src="../../images/icons8-curved-arrow-50.png"
        alt="icon"
      />

      <h1>Get Started</h1>
    </div>

    <ul>
      <li>
        <img
          class="icon1"
          src="../../images/icons8-dashboard-layout-24.png"
          alt="img"
        />
        <a class="side-text" href="previousorder">Dashboard</a>
      </li>
      <li>
        <img class="icon2" src="../../images/ordernew.png" alt="img" />
        <a class="side-text" href="pickup">Orders</a>
      </li>
      <li>
        <img
          class="icon3"
          src="../../images/icons8-duplicate-contacts-24.png"
          alt="img"
        />
        <a class="side-text" href="contact">Contact</a>
      </li>
      <li>
        <img
          class="icon4"
          src="../../images/icons8-feedback-50.png"
          alt="img"
        />
        <a class="side-text" href="contact">Feedback</a>
      </li>

      <li class="logout">
        <a class="side-text" class="home" href="home">Logout</a>
        <img
          class="icon6"
          src="../../images/icons8-chevron-right-30.png"
          alt="icon"
        />
      </li>
    </ul>
  </div>
  <div class="cards-container">
    <div class="card">
      <div class="card-image">
        <img class="image1" src="../../images/user.jpg" alt="image" />
      </div>
      <h4>Give request and start shipping your consignments</h4>
      <button routerLink="/pickup" routerLinkActive="active-link">
        Get Started
        <img
          class="icn"
          src="../../images/icons8-chevron-right-30.png"
          alt="icon"
        />
      </button>
    </div>
    <div class="card">
      <div class="card-image">
        <img class="image2" src="../../images/user1.jpeg" alt="image" />
      </div>
      <h4>View your previous order details over the past period</h4>
      <button routerLink="/previousorder" routerLinkActive="active-link">
        Get Started

        <img
          class="icn"
          src="../../images/icons8-chevron-right-30.png"
          alt="icon"
        />
      </button>
    </div>
  </div>
</div>
