.head {
  margin-left: 300px;
  color: #f0273b;
  padding: 20px;
}
.arrow {
  width: 40px;
}
img {
  padding-right: 10px;
}
.heading {
  background-color: #ddd;

  margin-top: -20px;
}
h2 {
  color: #f0273b;
  font-size: 40px;
  text-align: center;
  padding: 20px;
}
.containers {
  margin-left: 100px;
  background-color: #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.pickup {
  border: none;
  width: 900px;
  height: 300px;
}
caption {
  text-align: center;
  padding: 10px;
}
.dashboard {
  display: flex;
  flex-direction: row;
}
.tab {
  background-color: #f0273b;
  padding: 20px;
  color: #fff;
}
.pickup tr {
  border: #f0273b;
}
.row {
  padding: 8px;
}
section {
  min-height: 100vh;
}

li {
  list-style: none;
}

h1,
h2 {
  color: rgb(223, 222, 222);
}
.side-menu {
  background: #f0273b;
  width: 20vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: -90px;
}
.side-menu .brand-name {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-menu li {
  font-size: 24px;
  padding: 10px 40px;
  color: #fff;
  display: flex;
  align-items: center;
}
.side-menu li:hover {
  background: #ddd;
  color: #f0273b;
  transform: scale(1.08);
}
.icon2 {
  color: #fff;
  width: 30px;
}
.icon4 {
  width: 30px;
}
.icon5 {
  width: 35px;
}

a {
  text-decoration: none;
  color: #fff;
}

.logout {
  margin-top: 90px;
}
