<table id="pickup">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile Number</th>
      <th>PickupForm</th>
      <th>Pickupto</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let volunteer of allvolunteerData">
      <td>{{ pickup.name }}</td>
      <td>{{ pickup.email }}</td>
      <td>{{ pickup.mobile }}</td>
      <td>{{ pickup.fromplace }}</td>
      <td>{{ pickup.toplace }}</td>
      <td>{{ pickup.date }}</td>
    </tr>
  </tbody>
</table>
