<button class="btn1"><a href="user">Go To Dashboard</a></button>
<div class="main">
  <h1>Your Order History!!!</h1>
  <table class="pickup">
    <caption>
      Your Orders!!!
    </caption>
    <thead>
      <tr class="tab-row">
        <th class="tab">Pickup From</th>
        <th class="tab">Pickup To</th>
        <th class="tab">Shipped</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUserData">
        <td class="row">{{ user.fromplace }}</td>
        <td class="row">{{ user.toplace }}</td>

        <td>
          <button class="btn">
            <img
              class="icon-tick"
              src="../../images/icons8-double-tick-50.png"
              alt="icon"
            />
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
