<div class="service-heading">
  <h1>CUSTOMER SERVICE</h1>
</div>

<div class="container2">
  <div class="door">
    <div class="door-image">
      <img class="img1" src="../../images/door1.jpg" alt="image" />
    </div>
    <div class="door-content">
      <h3>Door Delivery</h3>
      <ul>
        <li>We provide Door Delivery services at all our branches.</li>
        <li>
          Kindly inform the booking clerk that you wish to have a “Door
          Delivery”, at the time of booking the consignment.
        </li>
      </ul>
    </div>
  </div>

  <div class="tracks">
    <div class="track-image">
      <img class="img2" src="../../images/track.jpg" alt="image" />
    </div>

    <div class="track-content">
      <h3>TRACKING</h3>
      <ul>
        <li>
          To track the latest status of your consignment, send Track the status
          using the tracking number.
        </li>
        <li>
          This facility will be especially handy in areas with low network
          coverage, and poor data connectivity.
        </li>
      </ul>
    </div>
  </div>

  <div class="next">
    <div class="next-image">
      <img class="img3" src="../../images/next.jpg" alt="image" />
    </div>
    <div class="next-content">
      <h3>NEXT DAY DELIVERY</h3>
      <ul>
        <li>We provide next day delivery across most of our stations.</li>
        <li>
          Kindly check at the time of booking, or call our customer care for
          more specific details.
        </li>
      </ul>
    </div>
  </div>

  <div class="pay">
    <div class="pay-image">
      <img class="img4" src="../../images/pay.jpg" alt="image" />
    </div>
    <div class="pay-content">
      <h3>DIGITAL PAYMENTS</h3>
      <ul>
        <li>All our stations accept digital payments.</li>
        <li>
          Payments can be made digitally using any of the digital payment
          gateway apps like Google Pay, Amazon Pay, etc, using UPI id.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container3">
  <div class="images">
    <div class="courier-img">
      <img class="image1" src="../../images/pic1.jpg" alt="image" />
    </div>
    <div class="courier-img">
      <img class="image2" src="../../images/pic2.webp" alt="image" />
    </div>
    <div class="courier-img">
      <img class="image3" src="../../images/pic3.jpg" alt="image" />
    </div>
  </div>
</div>

<div class="container4">
  <div class="delivery">
    <h2>Delivery Service</h2>
    <p>
      We offer a range of versatile, reliable international package and document
      delivery options!
    </p>
  </div>

  <div class="custom">
    <h2>Custom Services</h2>
    <p>
      We understand the importance of clearing customs quickly. our selection of
      standard and specialized services are designed to help!
    </p>
  </div>

  <div class="surcharges">
    <h2>Surcharges</h2>
    <p>
      Some exceptional activities supported by our high level of services and
      changes to fuel costs may incur additioanl charges
    </p>
  </div>
</div>
