<div class="pickup">
  <div class="main">
    <h2 class="heading">REQUEST YOUR PICKUP</h2>
    <p class="text">
      Try out MIGRATE<span>SMART</span> today and be ready to ship in minutes.
    </p>
    <div class="part1">
      <div class="container">
        <form
          [formGroup]="pickUpForm"
          (ngSubmit)="register(this.pickUpForm.value)"
        >
          <div class="form-group">
            <em class="fa fa-user"></em>
            <input type="text" placeholder="Name" formControlName="name" />

            <span
              class="text-danger"
              *ngIf="
                pickUpForm.controls.name.errors &&
                pickUpForm.controls.name.touched
              "
              ><br />Invalid Name</span
            >
          </div>

          <div class="form-group">
            <em class="fa fa-envelope"></em>
            <input type="text" placeholder="Email" formControlName="email" />
            <span
              class="text-danger"
              *ngIf="
                pickUpForm.controls.email.errors &&
                pickUpForm.controls.email.touched
              "
              ><br />Invalid Email</span
            >
          </div>

          <div class="form-group">
            <em class="fa fa-phone"></em>
            <input
              type="text"
              placeholder="Mobile Number"
              formControlName="mobile"
            />
            <span
              class="text-danger"
              *ngIf="
                pickUpForm.controls.mobile.errors &&
                pickUpForm.controls.mobile.touched
              "
              ><br />Invalid Mobile Number</span
            >
          </div>

          <div class="form-group">
            <label for="fromplace"></label>
            <em class="fa fa-home"></em>
            <input
              type="text"
              placeholder="Pickup From"
              formControlName="fromplace"
            />
            <span
              class="text-danger"
              *ngIf="
                pickUpForm.controls.fromplace.errors &&
                pickUpForm.controls.fromplace.touched
              "
              ><br />Invalid Place Name</span
            >
          </div>

          <div class="form-group">
            <label for="toplace"></label>
            <em class="fa fa-search"></em>
            <input
              type="text"
              placeholder="Pickup To"
              formControlName="toplace"
            />
            <span
              class="text-danger"
              *ngIf="
                pickUpForm.controls.toplace.errors &&
                pickUpForm.controls.toplace.touched
              "
              ><br />Invalid Place Name</span
            >
          </div>

          <div class="form-group">
            <label for="date"></label>
            <em class="fa fa-calendar"></em>
            <input type="date" placeholder="Date" formControlName="date" />
            <span
              class="text-danger"
              *ngIf="
                pickUpForm.controls.date.errors &&
                pickUpForm.controls.date.touched
              "
              ><br />Invalid Date</span
            >
          </div>

          <button id="submitButton" type="submit" class="btn">Register</button>
        </form>
      </div>

      <div class="container-right">
        <h2>
          <span>Supercharging Growth</span> for 75,000+ online sellers and
          brands
        </h2>
        <div class="parts">
          <div class="parts1">
            Quickest delivery in 29,000 pin-codes across India.
          </div>
          <div class="parts2">
            RTO reduction tool to help reduce RTO by 20%.
          </div>
          <div class="parts3">
            Improve business cashflow cycle with Daily COD payments.
          </div>
          <div class="parts4">Best rated customer support in the Industry.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="part2">
    <h2 class="heading2">Brands That Trust Us</h2>
    <div class="imgs">
      <div class="img">
        <img src="../../images/img1.png" alt="image" />
      </div>
      <div class="img">
        <img src="../../images/img2.png" alt="image" />
      </div>
      <div class="img">
        <img src="../../images/img3.png" alt="image" />
      </div>
      <div class="img">
        <img src="../../images/img4.png" alt="image" />
      </div>
      <div class="img">
        <img src="../../images/img5.png" alt="image" />
      </div>
    </div>
  </div>

  <div class="part3">
    <div class="left">
      <img class="image-1" src="../../images/globe.png" alt="image" />
    </div>
    <div class="right">
      <h2 class="heading3">Reach customers across the world</h2>
      <div class="right-text">
        <p class="text3">
          With our tie-ups with 17+ courier partners, your business gets the
          widest reach and highest delivery rates.
        </p>
        <p class="text3">
          Without writing a line of code, you can integrate all your online
          business channels with PICKRR dashboard. It is that simple!
        </p>
      </div>
    </div>
  </div>
  <h2 class="end">Start shipping with MIGRATE<span>SMART</span> for free</h2>
</div>
