<section>
  <div class="container">
    <form [formGroup]="adminForm" (ngSubmit)="login(this.adminForm.value)">
      <div class="form-group">
        <em class="fa fa-envelope"></em>
        <input
          type="email"
          id="email"
          placeholder="Email Address"
          formControlName="email"
        />
        <span
          class="text-danger"
          *ngIf="
            adminForm.controls.email.errors && adminForm.controls.email.touched
          "
          ><br />Invalid Email Address</span
        >
      </div>

      <div class="form-group">
        <em class="fa fa-lock"></em>
        <label for="password"></label>
        <input
          id="password"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <span
          class="text-danger"
          *ngIf="
            adminForm.controls.password.errors &&
            adminForm.controls.password.touched
          "
          ><br />Invalid Password</span
        >
      </div>
      <div class="text-center">
        <button id="submitButton" type="submit" class="btn">Login</button>
      </div>
    </form>
  </div>
</section>
