<nav class="navbar">
  <div class="heading">
    <h1 class="migrate">MIGRATE<span class="smart">SMART</span></h1>
    <p class="text">a parcel and courier company</p>
  </div>
  <div class="navbar-items">
    <ul id="navlist">
      <li><a id="list" href="home">Home</a></li>
      <li><a id="list" href="service">Services</a></li>
      <li><a id="list" href="contact">Contact</a></li>
      <li><a id="list" href="signup">Signup</a></li>
      <li class="active"><a id="list" href="dashboard">Admin</a></li>
    </ul>
  </div>
</nav>
