.navbar {
  background: black;
  display: flex;
  flex-direction: row;
  position: relative;
}
.navbar1 {
  background: black;
  display: flex;
  flex-direction: row;
  position: relative;
}
.smart {
  color: #f0273b;
}
.migrate {
  color: rgb(243, 235, 235);
  margin: 30px;
}
.text {
  color: #fc283d;
  margin-top: -30px;
  padding-left: 140px;
}
#navlist {
  background: black;
  display: flex;
  list-style: none;
  padding: 15px;
  text-decoration: none;
  float: left;
  margin-left: 200px;
}
#navlist li {
  color: white;
  font-size: 18px;
  padding: 25px;
  text-align: center;
  text-decoration: none;
}
a {
  color: #fff;
}
#list {
  text-decoration: none;
}
#navlist a:hover {
  color: #f0273b;
}
