<section>
  <div class="sign">
    <div class="container">
      <form [formGroup]="loginForm" (ngSubmit)="login(this.loginForm.value)">
        <div class="form-group">
          <em class="fa fa-envelope"></em>
          <label for="email"></label>
          <input
            type="email"
            placeholder="Email Address"
            formControlName="email"
          />
          <span
            class="text-danger"
            *ngIf="
              loginForm.controls.email.errors &&
              loginForm.controls.email.touched
            "
            ><br />Invalid Email Address</span
          >
        </div>

        <div class="form-group">
          <em class="fa fa-lock"></em>
          <label for="password"></label>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <span
            class="text-danger"
            *ngIf="
              loginForm.controls.password.errors &&
              loginForm.controls.password.touched
            "
            ><br />Invalid Password</span
          >
        </div>

        <div class="form-group">
          <em class="fa fa-lock"></em>
          <label for="confirmpassword"></label>
          <input
            type="password"
            placeholder="Confirm Password"
            formControlName="confirmpassword"
          />
          <span
            class="text-danger"
            *ngIf="
              loginForm.controls.confirmpassword.errors &&
              loginForm.controls.confirmpassword.touched
            "
            ><br />Invalid Password</span
          >
        </div>
        <div class="signup">
          <label for="signup"
            >Already have an Account? <a href="login-page">Login</a></label
          >
        </div>

        <div class="text-center">
          <button id="submitButton" type="submit" class="btn">Signup</button>
        </div>
      </form>
    </div>

    <div class="image">
      <img class="img" src="../../images/loginimg.webp" alt="img" />
      <div class="centered">
        <h3 class="center-txt">Signup to start with your first order!!!</h3>
      </div>
    </div>
  </div>
</section>
